header {
	border-bottom: 1px solid grey;
	padding: 1em;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	background-color: black;
}

.mainLogo {
	width: 225px;
	position: relative;
}

.activeNavLink {
	background-color: #576169;
}

.App {
	font-family: 'Titillium Web', sans-serif;
}


/*Tweaks to Bootstrap styles*/

.navbar {
	background-color: black;
}

.navbar-nav {
	font-size: 1.25em;
}

.nav-item {
	padding: 0 0.25em
}

.nav-item > a {
	padding: 0em 0.5em;
	color: #cbe5eb;
	border-radius: 8px;
}

.nav-item > a:hover {
	text-decoration: none;
	background-color: #576169;
}

@media screen and (min-width: 500px) {
	.mobileNav > ul {
		width: 30%;
	}
}

@media screen and (min-width: 750px) {
	.mobileNav, .mobileMenu {
		display: none;
	}

	nav.desktop {
		display: block;
	}

	nav.mainNav {
		right: 5em;
	}

	div.staticContainer, header {
		padding: 1em 5em;
	}

}